<ion-header>

  <ion-navbar>
    <ion-title>Nowe menu</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <form [formGroup]="menuForm" (ngSubmit)="onSubmit()">
    <ion-list>
      <ion-item>
        <ion-label floating>Title</ion-label>
        <ion-input
          type="text"
          formControlName="title"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label floating>Description</ion-label>
        <ion-textarea formControlName="description"></ion-textarea>
      </ion-item>
    </ion-list>

    <ion-list formArrayName="dishes">
      <button
        type="button"
        ion-item
        *ngFor="let dishes of dishForms.controls; let i = index"
        [formGroupName]="i"
        (click)="itemSelected(item)">
        <h2>{{ getMealName(i) }}</h2>
        <ion-note>{{ getDishNutrientsDesc(i) }}</ion-note><br>
      </button>
    </ion-list>


    <ion-note *ngIf="this.dishForms.controls.length > 0">RAZEM {{ descMenu }}</ion-note>




    <ion-row>
      <ion-col text-right>
        <button type="button" ion-button outline small (click)="onManageDish()" *ngIf="true">Dodaj posiłek</button>
      </ion-col>
    </ion-row>

    <button
      type="submit"
      ion-button
      block
      [disabled]="false">Dodaj menu
    </button>



  </form>

</ion-content>
